# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Ignore Config
app/config.py

# Storage Files
storage/resumes/*
storage/reports/*
storage/recordings/*